[2018-11-02 11:58] denspiro opened #1 "Wrong validation error"
![image](https://user-images.githubusercontent.com/944858/47914107-0c2d4c00-dea7-11e8-87d1-f24dbc888fbb.png)
This is perfectly valid but marked as an error.

[2018-11-02 12:04] denspiro opened #2 "Better color-coding"
![image](https://user-images.githubusercontent.com/944858/47914345-ee141b80-dea7-11e8-9514-db4cc9f5a00c.png)

It would be nice to keep HTML tags as is because it creates a bit more stand-outs for those. When one-colored HTML tags harder to read.

[2018-11-02 12:06] denspiro commented on #2
Since it's more personal preference, I would suggest to keep it as an option, so one who thinks different can switch this off.

[2018-11-02 21:13] ghaschel commented on #2
Can you tell me what theme you're using? So that i can reproduce it here

You mean the expression inside *ngIf, right?

[2018-11-02 21:58] denspiro commented on #2
Theme: https://marketplace.visualstudio.com/items?itemName=Equinusocio.vsc-material-theme

"You mean the expression inside *ngIf, right?" -> Not exactly. I mean <></> around html tags. After "vscode-angular-html" is enabled, those became the same color (in my case red). Everything that relates to Angular expressions in "vscode-angular-html" is great.

To create this screenshot, I disable "vscode-a

[2018-11-02 22:00] denspiro commented on #2
You can check from previous issue  [here](https://github.com/ghaschel/vscode-angular-html/issues/1) It's how I see it after "vscode-angular-html" is enabled.

[2018-11-05 00:43] ghaschel commented on #2
I agree with you. I fixed it in 0.0.20, thanks for pointing out.

Feel free to open another issue if needed, I am closing this one now

[2018-11-05 00:43] #2 closed, assigned to ghaschel

[2018-11-05 00:51] ghaschel commented on #1
Did you try disabling all of your plugins? I'm not able to reproduce this. I even disabled all of my plugins. I tested with angular-language-services enabled and disabled.

This plugin doesn't make any validity checks, it only applies highlighting. Theoretically it is not supposed set anything as invalid, except for applying invalid color for invalid attributes such as `align` on `div` tags, and i

[2018-11-05 08:19] denspiro commented on #1
You right. It was a different plugin.

[2018-11-05 08:19] #1 closed, assigned to ghaschel

[2018-11-07 22:15] urielzen opened #3 "Single Quote causing issue"
A single quote is making the characters after it look like a string

![image](https://user-images.githubusercontent.com/7947179/48164432-146ef800-e2a8-11e8-8b77-6f085d3a048f.png)

Also the "." or "?" characters are not showing purple like it says it the documentation they should be.
I have Dark+ theme (I think is the default one when I installed VSCode)
Thank u so much for this extension

[2018-11-07 23:08] ghaschel commented on #3
I will take a look at this. thank you for reporting it.

About the operators, I think it is a limitation of the default theme. I currently am using [dark-plus-syntax](https://github.com/dunstontc/dark-plus-syntax). It's the same as the default one, but it have some improvements. Can you confirm me that changing theme solves the '?', '.', and '!' issue?

[2018-11-08 01:38] ghaschel commented on #3
Issue with single quote fixed with [0.0.22](https://github.com/ghaschel/vscode-angular-html/commit/f7aa04216b6a2ac6b17273f534c782021240b6d9). I will wait for your answer about the '?', '!' and '.' before closing the issue.

[2018-11-08 04:02] urielzen commented on #3
Thank u for fixing the bug. And you are correct, After installing the dark plus syntax theme, the operators show with purple color.

If you don't mind, can I ask about the decisions to use orange/red for the < /> characters in tags? I have a tendency to get distracted by the red color thinking that is some kind of lint error.

Thanks again.

[2018-11-08 04:06] urielzen opened #4 "Class names in white instead of orange"
Class names for <label> and <span> elements are shown in white instead of orange.

![image](https://user-images.githubusercontent.com/7947179/48177251-52d0db00-e2d9-11e8-98a4-2bace293f0d3.png)

[2018-11-08 10:17] ghaschel commented on #3
Sure you can. Actually i didn't choose colors, just the scope names (in this case, i choose the same as the regex one because it is easier to see regex highlighting in themes).

But now that you have pointed it out, it makes sense. It does looks like some sort of linting error.

I think it's best to return it to the default color to keep it similar to other HTML highlithing aswell.

[2018-11-08 10:29] ghaschel commented on #4
I am looking into this. Thanks for pointing out

[2018-11-08 10:58] ghaschel commented on #4
fixed in [0.0.23](https://github.com/ghaschel/vscode-angular-html/commit/ac9aa258ad8a05eac80abd23636222e7bfa0d29f)

[2018-11-08 10:59] #4 closed, assigned to ghaschel

[2018-11-08 11:11] ghaschel commented on #3
Color fixed in 0.0.23 =]

[2018-11-08 11:11] #3 closed, assigned to ghaschel

[2018-11-08 15:36] urielzen opened #5 "Self closing tags changing color"
Forward slash for self closing tags is shown blue instead of grey.

![image](https://user-images.githubusercontent.com/7947179/48208954-a115c680-e339-11e8-8723-fcf32e009b4d.png)

Thanks a lot!

[2018-11-08 15:45] ghaschel commented on #5
Fixed in [0.0.24](https://github.com/ghaschel/vscode-angular-html/commit/c1240c421bf12f44ed00bf0ecca534ddcd58bb61)

Thank you! =]

[2018-11-08 15:45] #5 closed, assigned to ghaschel

[2018-11-12 13:36] vaindil opened #6 "Tags not displaying properly"
Most of my tags aren't displaying colors properly. I'm using the recommended [dark-plus-syntax](https://marketplace.visualstudio.com/items?itemName=dunstontc.dark-plus-syntax) theme.

You can see that the very top line has the issue, as well as each of the tags at the very bottom.

![example screenshot](https://user-images.githubusercontent.com/771134/48350626-d41bcb00-e655-11e8-9326-dcb08fb582ce.

[2018-11-12 15:13] ghaschel commented on #6
Thanks for reporting it. Just figured it out here. =]

[2018-11-12 15:19] ghaschel commented on #6
[0.0.26](https://github.com/ghaschel/vscode-angular-html/commit/2518221631aab431517f24417b1c680ab9b6864f) fixes this

[2018-11-12 15:22] vaindil commented on #6
Just updated, looks great now. Thanks for the quick fix!

[2018-11-12 15:22] #6 closed, assigned to ghaschel

[2018-11-12 15:32] vaindil opened #7 "*ngIf and other attribute colors (different theme)"
This might not be a bug because I don't know how difficult it is to support additional themes. Feel free to close if you're not doing that, no problem; I just assume it's possible to update it for one theme and the highlight carries over to others. Everything looks correct in the suggested theme from the readme.

This theme is [One Dark Pro Monokai Darker Theme](https://marketplace.visualstudio.co

[2018-11-12 15:41] ghaschel commented on #7
About the first issue regarding ngIf, as the highlighting only applies scope names, it's up to the theme to apply that level of differentiation between objects and keys. For that part I'm using a built in pattern, so I don't really know how viable it is to recreate the wheel in that case.  But i will look further into that and let you know. That would be a nice plus.

And about the `title` in the

[2018-11-14 10:12] CatsMiaow opened #8 "Do you plan to support pug?"
I am using a [pug](https://pugjs.org) as a template.
Do you plan to support pug?

<img width="978" alt="2018-11-14 7 05 47" src="https://user-images.githubusercontent.com/1300172/48475515-57991000-e840-11e8-8dcb-235c2ee93931.png">

[2018-11-14 10:17] EricChoiKR commented on #8
I want to this feature too.

[2018-11-14 13:52] ghaschel commented on #8
That would be nice, i have never thought of doing it.
Creating a new repository to start developing it.

[2018-11-14 13:58] ghaschel commented on #8
As it is another syntax, i will need to release as another plugin. You can follow the progress [here](https://github.com/ghaschel/vscode-angular-pug)

[2018-11-14 21:46] ghaschel commented on #7
I checked it, and actually there isn't much I can do for it as a short term solution. It is actually up for the theme to style it the way you mentioned.

But i managed to differentiate a bit more from attributes and variables. I hope this helps, or even replace the need of a same color styling.

One Pro Monokai Darker
![color 2](https://user-images.githubusercontent.com/5878866/48514534-aac19180-e

[2018-11-17 02:06] ghaschel commented on #8
First version is available =]

https://marketplace.visualstudio.com/items?itemName=ghaschel.vscode-angular-pug

Feel free to open an issue if there is anything wrong.

[2018-11-17 02:07] #8 closed, assigned to ghaschel

[2018-11-18 14:02] vaindil commented on #7
Sorry for the delayed reply. Understandable that it's not something you can do, just figured I'd point it out in case it was an issue with the extension.

Doesn't look like the title text thing is fixed though. I'm on what VS Code says is the latest version, 0.0.29, and the issue is still there.

![image](https://user-images.githubusercontent.com/771134/48673571-9533bc80-eb10-11e8-9c80-7590eb37bb9

[2018-11-18 16:30] ghaschel commented on #7
I see... Naive of me, I completely forgot about special characters in generic attributes. I just pushed an update to cover that. It should be fixed now

Let me know if it is still happening

[2018-11-19 09:08] vLutsevich opened #9 "highlighting interpolation syntax in attribute values"
It seems that double curly braces in attribute values must be red color and expression inside of them must be blue as between HTML element tags
![2018-11-19_12-07-03](https://user-images.githubusercontent.com/8142982/48696710-c0430c80-ebf3-11e8-8ba5-c5a7a1db17a0.png)
because it's must to showing that it's some data binding as red color for braces in data or event binding syntax.
![image](https://u

[2018-11-19 09:24] vLutsevich opened #10 "color of single curly braces in template expression syntax"
I think that single curly braces inside template expression must be blue color as object literal braces in .ts files, because white color is related with simple text that placed between tags.
![image](https://user-images.githubusercontent.com/8142982/48697341-73f8cc00-ebf5-11e8-843b-324900310d65.png)

[2018-11-19 09:54] vLutsevich opened #11 "color of minimized boolean html attributes (required, disabled etc.)"
In html language exists boolean attributes that we can type in minimized syntax without values, I mean required, disabled, hidden (and may be other, I don't other remember by heart). And I think it should be turquoise color also, don't white color as now.
![image](https://user-images.githubusercontent.com/8142982/48699329-41050700-ebfa-11e8-8d0d-405e6a993f5b.png)

[2018-11-19 11:06] vLutsevich opened #12 "color of DOM property name"
Maybe it makes sense to use another color than turquoise (that is a color of html attributes) inside of binding braces, that will visually show when you do binding you mean DOM property, that's different from html attribute. But it need to consider that attribute binding it should be turquoise,
<tr><td [attr.colspan]="1 + 1">One-Two</td></tr>

[2018-11-19 11:56] vLutsevich opened #13 "let word color inside *ngFor"
Now word 'let' has a white color, but I think it must be dark blue as 'of' word  or words 'let' and 'const' in .ts files.
![image](https://user-images.githubusercontent.com/8142982/48705784-3868fc80-ec0b-11e8-9aee-4c2093bd9c6a.png)

[2018-11-19 11:58] ghaschel commented on #13
Which theme are you using?

It was supposed to show in purple, not in dark blue if you're using dark-plus-syntax or VSCode Dark+

[2018-11-19 12:01] ghaschel commented on #11
This is an old bug I'm actually aware already. But thanks anyway for pointing it out =]

[2018-11-19 12:01] ghaschel commented on #12
Good suggestion, I'll do this

[2018-11-19 12:02] vLutsevich commented on #10
I have understood, that is wrong note, because in my editor object literals curly braces have no white color because 'Bracket Pair Colorizer' extension, and by default its color is white.

[2018-11-19 12:02] #10 closed, assigned to ghaschel

[2018-11-19 12:04] ghaschel commented on #12
Do you mean something like this?

![sem titulo](https://user-images.githubusercontent.com/5878866/48706137-7a317d00-ebe2-11e8-9bd9-f3f22d049b18.png)

[2018-11-19 12:09] rexebin opened #14 "Inline template support"
Thanks for the great extension. Is there any plan for supporting inline template?

[2018-11-19 12:11] vLutsevich commented on #12
yes, I mean that, it's cool :)
but I have doubts maybe it's no such good idea, maybe it's too many colors - and it's creating a visual noise.
or maybe it needs to do an option to choose who wants like that or not.

[2018-11-19 12:23] ghaschel commented on #12
The idea of adding an option is nice.
But it will require an option to rebuild the syntax file with the proper settings, so it may be an a feature for the future...

For now I need to focus in making errorless and easy to read. I can see it as a good contextual way of separating attributes from binding, but I'm not sure if needed for now.

I'll create a poll for that

[2018-11-19 12:25] vLutsevich commented on #13
Oh, I understood. For 'dark-plus-syntax' it's really purple colored and it color fits me because I am usually using this theme. But on the screen was 'Dark+ (Default dark)'. I was switched to it ocсasionaly.

[2018-11-19 12:43] ghaschel commented on #12
Do you think angular directives (bindings, ngIf, nfFor) should be differentiated from HTMl attributes in color?
![with differentiation](https://user-images.githubusercontent.com/5878866/48707849-dfd43800-ebe7-11e8-8a3f-931e4b3d3bfc.png)
![without differentiation](https://user-images.githubusercontent.com/5878866/48707855-e2cf2880-ebe7-11e8-8233-1182d3d4b013.png)

/polls 'Yes' 'No'

[2018-11-19 12:44] ghaschel commented on #12
Do you think angular directives (bindings, ngIf, nfFor) should be differentiated from HTMl attributes in color?
![with differentiation](https://user-images.githubusercontent.com/5878866/48707849-dfd43800-ebe7-11e8-8a3f-931e4b3d3bfc.png)
![without differentiation](https://user-images.githubusercontent.com/5878866/48707855-e2cf2880-ebe7-11e8-8233-1182d3d4b013.png)

/polls 'Yes' 'No'

[2018-11-19 12:54] ghaschel commented on #12
Do you think angular directives (ngFor, ngIf, bindings) should be differentiated in color from html attributes?
## With differentiation
![with differentiation](https://user-images.githubusercontent.com/5878866/48708280-502f8900-ebe9-11e8-8f72-f5ce25c84a24.png)

## Without differentiation
![without differentiation](https://user-images.githubusercontent.com/5878866/48708950-26776180-ebeb-11e8-9e8f-1

[2018-11-19 13:03] vLutsevich commented on #12
perhaps there is an error with screens, because for me they are both has differentiation from html attributes. html attributes had a turquoise color before.

[2018-11-19 13:06] ghaschel commented on #12
Sorry, I uploaded the wrong image, changed now

[2018-11-19 13:41] ghaschel commented on #14
Thanks for your feedback. Do you mean making the same as [angular-inline](https://marketplace.visualstudio.com/items?itemName=natewallace.angular2-inline)?

[2018-11-19 13:44] ghaschel commented on #13
Thanks for pointing out. I will change scopes to match `of` and keep it purple under dark-plus-syntax

[2018-11-19 13:48] rexebin commented on #14
Yes, supporting the inline template, same as angular2-inline, eventually
replacing it hopefully. I think vscode-angular-html offers better
highlighting and there is a lot of room to it.

On Mon, 19 Nov 2018 at 13:41, Guilherme Haschel <notifications@github.com>
wrote:

[2018-11-19 13:54] ghaschel commented on #14
I'm happy to hear that, thank you.

I'll take a look at it this week and let you know if its viable to create a fork of angular2-inline

[2018-11-19 14:02] rexebin commented on #14
The way vscode-angular-html works could not support inline template?

On Mon, 19 Nov 2018 at 13:54, Guilherme Haschel <notifications@github.com>
wrote:

[2018-11-19 14:47] ghaschel commented on #14
It could work, and it shouldn't be hard to apply it. I just have to look into the syntax file from angular2-inline to be sure

[2018-11-19 15:03] rexebin commented on #14
@ghaschel I made a Dracula theme, now updated to work with your extension.
There are a few area needs fixing:
1. template variable starting with # is treated the same as angular properties `support.type.object.module.html`. Should be treated separately.
2. `{{}}` interpolation in html properties are not treated, still seen as regular strings.
3. angular component class variable and method are part

[2018-11-19 15:09] ghaschel commented on #14
Not sure I understood what you meant with 1.
I will look into 2 and 3.

About 4, do you mean something like [this](https://github.com/ghaschel/vscode-angular-html/issues/12#issuecomment-439883428)?

[2018-11-19 15:18] rexebin commented on #14
For no. 1, what I mean is the #dialogMode template variable as shown below, is recognized as `support.type.object.module.html`  same as angular component inputs. It is not possible to give it a different style.

[code]

As for No.4, is that I want to make the stuff starting with * like below `*ngTemplateOutlet` a different style (italic) as webstorm does, but it is now the same signature as above

[2018-11-19 15:27] rexebin commented on #14
Allow me to further explain No. 3. From what I understand, the extension recognises component properties as `variable.other.property.js` and methods as `variable.other.readwrite.js`. However, quite often, properties are recognized as `variable.other.readwrite.js`. I have yet to see a method recognized as a property.

[2018-11-19 15:28] ghaschel commented on #14
Ohhh, I see. I. It actually uses a unified regex to recognize all of angular patterns. But I guess it won't be too much of a hassle to separate that.

Will applying the same parent scope but differentiating the child ones enough?

eg:
support.type.object.module.templatevariable and support.type.object.module.templateoutlet

[2018-11-19 15:30] rexebin commented on #14
*ngTemplateOutlet is one of them, angular has many of these kind, *ngIf, *ngFor etc.. since they all start with *, I think treat all of them as the same type may be easier.

[2018-11-19 15:33] ghaschel commented on #14
I see, I think its the same as #7, the extension actually uses a built in pattern for js expressions. I think it would have to be rewritten.

[2018-11-19 15:35] ghaschel commented on #14
Noted that, It would allow way more customizations via themes.

[2018-11-19 15:53] ghaschel commented on #14
I'm not really sure how wrong it is, but how does it sound in theme development to use a scope that doesn't necessarily has something to do with what is being matched?

eg: <div `class`="test" (`click`)="test()"></div>

The correct scope for `class` would be `entity.other.attribute-name`, but that would apply a color that has been used already a large number of times, and not allowing a good highl

[2018-11-19 16:10] rexebin commented on #14
I am not sure I understand. But for <div class="test" (click)="test()">, the test in class would be simply a css class, same as other regular html markups. in `(click)="test()"`, `test()` would be component method, according to current scope, it is `variable.other.readwrite.js`.

There could be a simply and performant solution, could you apply a regex to separate component properties and methods b

[2018-11-19 16:22] rexebin commented on #14
If the class="test" is: class="{{test}}", the {{test}} is a interpolation of a component property `test`, currently not recognized, which is my point No.2 above.

[2018-11-19 16:32] ghaschel commented on #14
I understand all of that, I i actually meant about the scopes themseves, not for what is being matched...

The correct scope for `class` or `title` would be `entity.other.attribute-name`, but I'm using `support.something.other-something` for a more diverse highlighting. How weird or wrong would that be for someone theming, as I'm planning to use a more customized scope naming now that you mentione

[2018-11-19 16:41] rexebin commented on #14
For theming, all we are using are the TM Scope that we can get from the
inspector in vscode. The more the scopes differentiated, the more styles
could be applied, the better.

On Mon, 19 Nov 2018 at 16:32, Guilherme Haschel <notifications@github.com>
wrote:

[2018-11-19 16:51] rexebin commented on #14
When you add scopes, could you please add a scope for method parameters as well. Thank you!

[2018-11-20 15:33] ghaschel commented on #9
[0.0.31](https://github.com/ghaschel/vscode-angular-html/commit/63f3763f5d15ad1a584317653e8bbef8e2e8c137) fixes this

[2018-11-20 15:33] #9 closed, assigned to ghaschel

[2018-11-20 15:33] ghaschel commented on #11
[0.0.31](https://github.com/ghaschel/vscode-angular-html/commit/63f3763f5d15ad1a584317653e8bbef8e2e8c137) fixes this

[2018-11-20 15:33] #11 closed, assigned to ghaschel

[2018-11-20 15:34] ghaschel commented on #12
[0.0.31](https://github.com/ghaschel/vscode-angular-html/commit/63f3763f5d15ad1a584317653e8bbef8e2e8c137) fixed this

[2018-11-20 15:34] #12 closed, assigned to ghaschel

[2018-11-20 15:34] ghaschel commented on #13
[0.0.31](https://github.com/ghaschel/vscode-angular-html/commit/63f3763f5d15ad1a584317653e8bbef8e2e8c137) fixed this

[2018-11-20 15:35] #13 closed, assigned to ghaschel

[2018-11-20 15:37] ghaschel commented on #14
no2 was fixed in [0.0.31](https://github.com/ghaschel/vscode-angular-html/commit/63f3763f5d15ad1a584317653e8bbef8e2e8c137)

1, 2, 4, and scopes for method parameters in a near future.

[2018-11-20 16:45] rexebin commented on #14
@ghaschel I installed 0.0.31. Now angular component inputs `[propertyName]`, angular component outputs/events `(click)`,  template variables `#variableName` and ng-template syntax like `*ngIf`  are recognized as `constant.numeric.decimal.js`, which is not correct in my opinion. I thought you may want to know

[2018-11-20 16:58] ghaschel commented on #14
That is what i was asking about using a scope that doesn't necessarely represent what is matched... I, personally, would like to kee the highlithing very clear, separating angular directives from HTML attributes... I also don't think that `constant.numerical.decimal.js` is the best choice, and the best i could do to mantain this color scheme is use `constant.numeric.angular.directive` instead. I w

[2018-11-20 17:12] rexebin commented on #14
In this case, I will adjust my theme instead.

On Tue, 20 Nov 2018 at 16:58, Guilherme Haschel <notifications@github.com>
wrote:

[2018-11-20 17:14] ghaschel commented on #14
As soon as i update the scope names I'll write a .MD file poiting out all names in case someone want to support this extension. I'll let you know then.

[2018-11-21 10:51] rexebin commented on #14
@ghaschel I updated the theme [Dracula Theme - WebStorm Edition](https://marketplace.visualstudio.com/items?itemName=rexebin.dracula). I can confirm that using `constant.numerical.decimal.js` is just fine because it has many parent signatures helping to select and differentiate from numerical values. However, using `constant.numeric.angular.directive` would be better.

[2018-11-21 12:47] vaindil commented on #7
Perfect, the title text looks good now. This extension is awesome, thank you so much for your quick fixes (and sorry my replies were delayed)!

[2018-11-21 12:47] #7 closed, assigned to ghaschel

[2018-11-22 11:24] kherock opened #15 "Final semicolon ; when defining context variables in structural directives should be optional"
![image](https://user-images.githubusercontent.com/4993980/48899922-ef899180-ee1e-11e8-8f7f-db599e50cb16.png)

I can't remember if I started using this extension before 0.0.31 came out, but I'm now noticing syntax highlighting breaking pretty spectacularly in some of the my `*ngIf` and `*ngFor` directives. Hopefully it's simple to fix.

[2018-11-22 14:59] ghaschel commented on #15
Omg that looks terrible.

I'm looking into this. But i fear it might have something to do with the built in js pattern recognition.

Thank you for reporting it =]

[2018-11-22 18:14] ghaschel commented on #15
Just for clarifying: It has to do with the built in pattern. I will have to adapt the built in one so that it can work with angular template expressions the proper way. It wasn't happening before because the plugin was restructured recently.

It is now actually using a js pattern recognition

[2018-11-22 18:59] ghaschel commented on #15
I adapted the pattern. It is now built in the plugin itself, not using the vscode one anymore.

The issue is fixed in [0.0.33](https://github.com/ghaschel/vscode-angular-html/commit/19cd237d85f4436e615572d8571b0bd60e0b5340), although there is still a lot of improvements and cleaning to do in that pattern.

Let me know if it still happening, or if my any means it returns to happen in the upcoming v

[2018-11-24 16:38] kherock commented on #15
Hey sorry I disappeared, things seem to be fine now - thanks for the quick fix 😊

[2018-11-24 17:36] #15 closed, assigned to ghaschel

[2018-11-27 15:39] urielzen opened #16 "Comments too dark"
I find the comments to be too dark for me.

![image](https://user-images.githubusercontent.com/7947179/49092194-141ea880-f227-11e8-8b9a-a3631506ef36.png)

I understand that it is the dark-plus-syntax issue. So I submitted an issue in that repository
https://github.com/dunstontc/dark-plus-syntax/issues/2

I wanted to see what you think about changing the html comments in your extension so it is not

[2018-11-27 16:34] ghaschel commented on #16
I'm afraid there isn't much I can do in this matter...

I saw your issue there a few days ago, and I also agree, at least the text inside `` could be a little lighter. As far as the plugin goes, It only matches the comments and apply scopes names to that. Then is up for the theme to apply colors...

Currently the comments are matched like this:

`` - punctuation.definition.comment.end.html

I test

[2018-11-27 16:46] urielzen commented on #16
Don't worry, I followed the suggestion from the dark-plus-syntax issue to change to comments in the user settings. I'm good with that approach.

[2018-11-27 16:46] #16 closed, assigned to ghaschel

[2018-12-08 23:11] matulkum opened #17 "Putting '.%' inside in attribute name breaks syntax highlighting"
For example like this: `[style.stroke-width.%]="100"`

The Angular Material lib for example make use of this style. Check out this file: https://github.com/angular/material2/blob/master/src/lib/progress-spinner/progress-spinner.html

Cheers

[2018-12-10 02:42] ghaschel commented on #17
It doesn't seem to reproduce here. Running VSCode on MacOS.
Did you try disabling other extensions?

![screen shot 2018-12-10 at 00 36 51](https://user-images.githubusercontent.com/5878866/49707828-38f62100-fc14-11e8-87c6-d7e467f8c1f4.png)

[2018-12-10 09:52] ghaschel commented on #17
I just arrived at work and tested on windows. Also didn't reproduce

[2018-12-11 17:24] matulkum commented on #17
You are right. There must have been a mistake in my code somewhere else. I actually cannot reproduce myself ;)

Sorry for spamming. Let's close this issue.

[2018-12-11 17:24] #17 closed, assigned to ghaschel

[2018-12-11 20:42] vaindil opened #18 "HTML support with 1.0"
I saw in the changelog that you changed the language ID. Is there a way to inherit from the base HTML type though? Not sure how VS Code works with this. Since the change I've lost basically all HTML support in components. You can see the difference in the gifs below.

![disabled](https://user-images.githubusercontent.com/771134/49828961-381bd700-fd5b-11e8-8a86-8761861d5a7b.gif)

![enabled](https:/

[2018-12-12 01:46] ghaschel commented on #18
How couldn't I notice that? Lol.

Apparently there is no easy way to inherit features from other languages.
I will take a look at this, maybe consuming a language server could fix it.

[2018-12-12 11:21] ghaschel commented on #18
I changed the language id back to html for now until i have some spare time to figure it out about the language server thing. So it should be normal again by now.

I will keep this issue open though and keep it updated here.

[2018-12-13 22:23] ghaschel commented on #18
Apparently, changing from `html` to `angular-html` not only broke support for CSS/SCSS Intelisense and autoclosing but also for Angular Language Services, and probably every extension that also uses the `html` id.

I tried implementing a language server. It made some of the HTML features work again, but i still didn't have both Angular Language Services and Intelisense working.

Changing it to `ng

[2019-02-07 11:12] ghaschel commented on #18
I won't be able to change the language id by now. Maybe in the future. Closing this as it was fixed already

[2019-02-07 11:12] #18 closed, assigned to ghaschel

[2019-08-14 13:23] yandiro opened #20 "*matHeaderCellDef"
Extension cant handle well codes like this

https://i.imgur.com/2tVAxML.png

Notice how the class="classaName" is not colored

[2019-08-14 14:43] sheikalthaf opened #21 "windows: not working as expected in windows OS"
This extension is not working as expected in windows OS

[2019-08-14 18:00] ghaschel commented on #21
I develop this extension currently both on Windows OS and Mac OS. Could you elaborate what is not working, please?

[2019-08-14 18:02] ghaschel commented on #20
Confirmed bug.
I'll investigate into it. Thank you for reporting it

[2019-08-14 18:24] ghaschel commented on #20
Fixed in [1.1.3](https://github.com/ghaschel/vscode-angular-html/commit/a827f5931c3b76e85a6a05e028ace87f2678260b)

[2019-08-14 18:24] #20 closed, assigned to ghaschel

[2019-08-15 12:43] yandiro opened #22 "reserved words for component name"
Great extension!

Just a little fix

![image](https://user-images.githubusercontent.com/27643901/63095229-22d9f680-bf41-11e9-9572-eb6dc9127df2.png)

Notice that the word buttons is in blue

[2019-08-15 17:48] ghaschel commented on #22
Confirmed bug. Thank you for reporting it.

[2019-08-15 18:11] ghaschel commented on #22
Fixed in (1.1.4)[https://github.com/ghaschel/vscode-angular-html/commit/01cdf0df3453e16c328aa1ef0dbd07608a1e6916]

Feel free to reopen this issue in case the fix doesn't work for you.

[2019-08-15 18:11] #22 closed, assigned to ghaschel

[2019-08-22 20:23] Dassderdie opened #23 "Support *ngIf wit `then` and `else`"
I would expect the `then` and `else` to be in a different colour (e.g. like the `of` in `*ngFor`):
![image](https://user-images.githubusercontent.com/18506183/63546765-d7b87880-c52a-11e9-82ed-e79aef8587fe.png)

https://angular.io/api/common/NgIf

Btw.: Just found this extension today and love it ❤️

[2019-08-22 20:36] Dassderdie opened #24 "Different color for component- and angular-structure-tags"
I'm not quite sure about it, but I believe it could be quite helpful if all component-tags and angular-stuff like e.g. `ng-content`, `ng-template` and `ng-container` would have different colours than "normal" HTML-attributes.

[2019-08-23 00:02] ghaschel commented on #23
Thank you for the feedback! ❤️

This is definitely something that was missing.

[2019-08-23 00:05] ghaschel commented on #24
This is actually a great idea. I'll look further into this.

Thank you for the suggestion

[2019-08-23 02:49] ghaschel opened #25 "DOM Events shown as strings after 1.1.4"
Attributes without "=" broke HTML events highlighting

![Screen Shot 2019-08-22 at 23 47 15](https://user-images.githubusercontent.com/5878866/63563436-9cc93b80-c550-11e9-97e9-976a50211a50.png)

[2019-08-23 03:41] ghaschel commented on #25
Fixed in [1.2.0](https://github.com/ghaschel/vscode-angular-html/commit/40fe2ffea7510506ab17d08abf4e7fb3a54887fd)

[2019-08-23 03:41] #25 closed, assigned to ghaschel

[2019-08-23 03:46] ghaschel commented on #23
Added in [1.2.0](https://github.com/ghaschel/vscode-angular-html/commit/40fe2ffea7510506ab17d08abf4e7fb3a54887fd)

[2019-08-23 03:46] #23 closed, assigned to ghaschel

[2019-08-23 03:53] ghaschel commented on #24
Added angular structural color differentiation in [1.2.0](https://github.com/ghaschel/vscode-angular-html/commit/40fe2ffea7510506ab17d08abf4e7fb3a54887fd)

Although I have not added to the prefixed `component-` ones due the fact it may make the highlighting too opinionated.

[2019-08-23 09:40] Dassderdie opened #26 "Different colour for pipes"
I would expect pipes to have a different colour than "normal" variables (maybe the same as a function call):
![image](https://user-images.githubusercontent.com/18506183/63582925-441e9080-c59a-11e9-8d1f-9860d5af9256.png)

[2019-08-23 10:09] Dassderdie commented on #24
I think you are right with your point about the component highlighting. Maybe this could be an own extension like `TODO: Highlight` or so...

I just noticed there is also `<router-outlet></router-outlet>` as an angular structural tag.

[2019-08-23 10:22] Dassderdie opened #27 "Non-prefix asterisk"
I think the single asterisk should have the same colour as the prefix one
![image](https://user-images.githubusercontent.com/18506183/63585409-53540d00-c59f-11e9-958b-9387ead58afe.png)

In case you are wondering the first line gets translated by angular to this:
![image](https://user-images.githubusercontent.com/18506183/63585879-661b1180-c5a0-11e9-8767-98bdd8a1ff15.png)
https://angular.io/guide/s

[2019-08-23 12:20] ghaschel commented on #24
Sorry, completely forgot about `<router-outlet>`. Did it past midnight.

[2019-08-23 12:37] ghaschel commented on #27
Confirmed bug, thanks for reporting

[2019-08-23 13:06] ghaschel commented on #24
Fixed in [1.3.0](https://github.com/ghaschel/vscode-angular-html/commit/2b14c7ad37e7b6b26989ddbb9676132282e49967)

[2019-08-23 13:06] #24 closed, assigned to ghaschel

[2019-08-23 13:06] ghaschel commented on #26
Added in [1.3.0](https://github.com/ghaschel/vscode-angular-html/commit/2b14c7ad37e7b6b26989ddbb9676132282e49967)

[2019-08-23 13:06] #26 closed, assigned to ghaschel

[2019-08-23 13:07] ghaschel commented on #27
Fixed in [1.3.0](https://github.com/ghaschel/vscode-angular-html/commit/2b14c7ad37e7b6b26989ddbb9676132282e49967)

[2019-08-23 13:07] #27 closed, assigned to ghaschel

[2019-08-23 13:14] ghaschel commented on #21
Closing due lack of information. Feel free to comment and I'll re-open the issue.

[2019-08-23 13:14] #21 closed, assigned to ghaschel

[2019-08-27 10:20] magnusbakken opened #28 "Different color for structural directives"
First off, thanks for the great work with this extension!

I'd like to have a more vivid color for structural directives, i.e. directives starting with `*`. Ideally I'd want to distinguish between `*ngIf`, `*ngFor` and maybe a few others, i.e. the directives that significantly alter the control flow of the document, but I'd be happy to just have a different color for all directives starting with a

[2019-08-27 14:33] ghaschel commented on #28
Thank you for the feedback!

I think this is a great feature and it allow further customization via themes.

It's been on plans for some time now and I Intend to do it soon in a major update.
I'd just like to add that even after a major update, I'd still need to address the directives using a contextually different scope name (eg. constant.numeric ~angullar-directive) due support to default themes

[2019-08-28 13:14] magnusbakken commented on #28
That sounds like a good plan.

Off the top of my head, I think some things that could be useful to distinguish from each other would be:
- Inputs (`[foo]="foo"`)
- Events (`(foo)="onFoo($event)"`
- Two-way bindings (`[(foo)]="foo"`, and probably the nonstandard but legal `([foo])` syntax as well)
- Structural directives (`*ngIf="foo"`)
- Variables (`#foo="foo"`)

The more the merrier I guess.

If

[2019-09-12 10:43] Dassderdie opened #29 "s tag isn't deprecated"
The s-tag is displayed in a red color like this:
![image](https://user-images.githubusercontent.com/18506183/64777390-59b02600-d55a-11e9-8d1d-0501157541c5.png)

However according to
[whatwg](https://html-differences.whatwg.org/#obsolete-elements) and [MDN web docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/s) the s-tag isn't deprecated but has just changed in meaning ("The s elemen

[2019-09-13 13:44] ghaschel commented on #29
Thank you for pointing it out =]

Fixed it in [1.3.1](https://github.com/ghaschel/vscode-angular-html/commit/28be9616e7ba966ec87384b3477f8268586a9881)

[2019-09-13 13:44] #29 closed, assigned to ghaschel

[2019-10-28 21:53] adriansd27 opened #30 "Customizable colors"
Hi! Amazing extension, really helpful. Although it would be really cool if you could choose colors for the elements.

Keep up the good work!

[2019-10-29 12:42] ghaschel commented on #30
I'm afraid this isn't something I could implement quickly at the moment. But I will definitely consider doing it.
This wasn't the first time someone suggested this feature, and it may be actually a nice addition - and a good excuse for me to study a bit more the vscode environment.

Thanks for the feedback and thanks for taking the time to suggest it. =]

[2019-11-21 05:19] shayded-exe commented on #14
Any update on this? Would be really nice to have.

[2019-12-12 18:56] CagriAldemir opened #31 "ReadMe Update Request"
Maybe you can add the following gif file to ReadMe file. I think this image will be more descriptive.

![before-after](https://user-images.githubusercontent.com/8038704/70740268-d7d2c300-1d29-11ea-9437-f9088ec876ff.gif)

[2019-12-27 16:26] ghaschel commented on #31
Thank you for the idea. <3
I just did it now using Polacode.

Sorry for taking so long to answer. I was moving.

[2019-12-27 16:27] #31 closed, assigned to ghaschel

[2019-12-28 19:05] ryanwellsdotcom opened #32 "Latest version strips highlighting when VS Code is restarted"
Version 1.4.0 strips all highlighting for HTML files when VS Code is restarted. The appearance of HTML is plain text. I can disable/enable the extension and the highlighting works again, but each time VS Code is closed and started, colors are stripped again. I've uninstalled other extensions to rule out the possibility of a conflict.

Rolling back to v1.3.1 solves the issue.

[2019-12-31 15:57] fdinardo commented on #32
I can reproduce the problem.

[2019-12-31 22:08] ghaschel commented on #32
Thank you for reporting. I will address this issue in a few days, as soon as i get back to my computer and internet.

[2020-01-01 16:53] heroes-coding commented on #32
I have the same problem, as well.  Wasn't sure if it was some other plugin I had enabled that caused it, but disabling other likely culprits doesn't seem to do the trick.

[2020-01-02 11:34] ghaschel commented on #32
I can't reproduce this on Ubuntu. What are the O.Ses you are currently using, please?

[2020-01-02 16:40] fdinardo commented on #32
I am on archlinux 64bit:
[code]

[2020-01-02 16:43] heroes-coding commented on #32
Windows 10 / 64

[2020-01-02 17:15] ghaschel commented on #32
I will try to reproduce tonight on Windows and MacOS.

The only thing that may have caused this issue was the change of main scope name I had to do. It went from `text.html.angular` to `template.ng`. Angular language service was overriding this highlighting.

I have a possible workaround for this: implementing on both scopes `text.html.angular` and `template.ng`. That would imply in duplicating th

[2020-01-02 17:42] heroes-coding commented on #32
@ghaschel I don't have Angular Language Service Plugin installed.
After some back and forth with the plugins I do have installed, I found that the conflict (for me, not others necessarily) is with angular2-inline

Hope that helps.  Thanks for this great plugin!

[2020-01-02 17:45] ghaschel commented on #32
Installing angular2inline instantaneously stripped all of the highlighting from the html file for me now

[2020-01-02 17:50] heroes-coding commented on #32
@ghaschel It may be a problem with angular2inline, but that plugin is also quite useful so I hope you can find a workaround!

[2020-01-02 18:29] #32 closed, assigned to nobody

[2020-01-02 18:59] ghaschel commented on #32
angular2inline also overrides the scope as `template.ng`.

My idea of implementing on both scopes (using one as fallback) works. I am publishing 1.5.0 with the bugfix. Let me know if it works for you guys, so that I can re-open this issue.

=]

[2020-01-02 19:33] heroes-coding commented on #32
Works for me!

[2020-01-03 05:05] moonseob commented on #32
I'm on MacOS, have both Angular Language Service and angular2-inline installed, and 1.5.0 works for me!
Thanks!

[2020-01-03 12:35] ghaschel commented on #14
Firstly, sorry for taking so long to answer and give this a shot.

I managed to start to make it work. But it is still a long run, the scopes are not correctly applied yet and it now only works if Angular Language Service is disabled.

I will create another repository for this project, so then you can follow the progress there.
![image](https://user-images.githubusercontent.com/5878866/71723587-f3

[2020-01-03 13:33] ghaschel commented on #14
You can follow the progress in this repository: https://github.com/ghaschel/vscode-angular-ts

I will make this plugin in my free time. I am closing this issue now. Thank you for the patience

[2020-01-03 13:33] #14 closed, assigned to ghaschel

[2020-01-03 16:09] ghaschel commented on #30
I would suggest you and any other person looking forward for this feature, to try to use vscode way to override themes scope colors.

Open command pallet > Inspect TM Scopes

Grab the top first scope

![image](https://user-images.githubusercontent.com/5878866/71733528-987b2c00-2e28-11ea-9704-3338b2a0c703.png)

`string.regexp` in this case

[code]

It simply works

![image](https://user-images.gith

[2020-01-03 16:26] fdinardo commented on #32
Thanks!
It is working for me too:  https://github.com/ghaschel/vscode-angular-html/issues/32#issuecomment-570306688

[2020-01-31 13:13] jamieshaw commented on #32
I've just started using the vscode-angular-html (v1.6.0) plugin and running into the bug where syntax highlighting isn't being applied correctly against Angular Language Server.  Disable and re-enable works, but is cumbersome.

Any thoughts? 🤔

Code Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T14:57:51.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0

[2020-02-16 16:14] bleistift-zwei opened #35 "Warning Message for References to Private Component Members in Templates"
I’m not sure if this is really an issue with the plugin… but closing this issue is easy if you disagree, so I’ll state my case.

The plugin warns when accessing private members in a component’s template. To be clear right away: I’ve come to the conclusion that this is **good**. However, neither does the default Angular compiler reject access to private members, nor do the Angular docs discourage i

[2020-02-16 16:21] bleistift-zwei opened #36 "Allow Disabling Warnings"
It would be nice if we were able to ignore certain warnings, e.g. the one I mentioned in [my other issue](https://github.com/ghaschel/vscode-angular-html/issues/35).

This would give you the chance to look into how VSCode manages user configurations =)

The use case for the real world would be taking over a large project in which all members were declared private. This makes the file explorer look

[2020-02-18 13:48] ghaschel commented on #36
Hi, sorry for taking so long to answer. I have been very busy lately. I'm afraid the issue you are having refers to [angular-language-service](https://github.com/angular/vscode-ng-language-service) as my extension doesn't deal with the angular language errors. It only adds Syntax Highlighting...

[2020-02-18 13:49] ghaschel commented on #35
I am closing as this doesn't refer to my plugin, and yes to [angular-language-service](https://github.com/angular/vscode-ng-language-service)

[2020-02-18 13:49] #35 closed, assigned to nobody

[2020-02-18 20:31] bleistift-zwei commented on #36
I’m sorry to have bothered you. Thanks for pointing me in the right direction.

And BTW 2 days response time for a private project isn’t half bad.

[2020-02-18 20:31] #36 closed, assigned to nobody

[2020-10-10 20:21] hrmcdonald opened #39 "Plugin broken on newer versions of VSCode?"
I really loved this plugin, but on newer versions of VSCode it appears to no longer work. This started happening probably around the July or August 2020 update. If you happen to still be maintaining this, it would be awesome if you could check this out.

[2020-10-13 12:16] ghaschel commented on #39
That's weird to be honest, I am using it daily and have never had a issue. Can you please share with me what plugins are you using alongside this one, please?

[2020-10-27 18:09] hrmcdonald commented on #39
Hmm, thanks for the response. I'll try this plugin alone to confirm and then try to isolate where a conflict could exist.

[2020-11-15 00:10] hrmcdonald commented on #39
I was able to check this out and after cleaning up my extensions a bit I can confirm this one is working again!

[2020-11-15 00:10] #39 closed, assigned to ghaschel

[2020-11-16 11:12] ghaschel commented on #39
I'm glad I could help.

[2020-11-22 15:50] Dassderdie opened #40 "Incorrect color for asterisk directly before end of the html-tag"
[code]

![image](https://user-images.githubusercontent.com/18506183/99908233-c045dd80-2ce1-11eb-95e3-7fbc91f5f3da.png)

An easy workaround is to insert a space before the end of the tag, but e.g. prettier formats it without the space.

[Reference about the asterisk](https://angular.io/guide/structural-directives#the-asterisk--prefix)

[2020-11-22 20:28] urielzen commented on #40
what does an asterisk do on it's own as a parameter?

[2020-11-22 23:49] Dassderdie commented on #40
@urielzen
As you can see [here](https://angular.io/guide/structural-directives#the-asterisk--prefix) the asterisk is just a syntactic sugar for `ng-template`. This means the following two code snippets are equivalent:

[code]
and
[code]

I use this in the following way:

[code]
The `AnimatedIfComponent` requires a template to be inserted to make sure the stuff that should be conditionally shown is

[2020-11-22 23:56] urielzen commented on #40
@Dassderdie thanks for the info, I didn't know this. I knew ng-template was used for structural directives but I never realized you could actually use the * by itself without ngIf... etc.

Btw, I just tested it in my vscode and the asterisk shows red as expected.

[2020-11-23 00:36] Dassderdie commented on #40
Strange, I can reproduce it even if only `vscode-angular-html` and `dark-plus-syntax` are enabled... - I try to check it tomorrow on a second device...

[2020-11-23 13:04] ghaschel commented on #40
I'm sorry for the late response. I will look further into this. But as for now I can also confirm it does not reproduce on my machine.

![image](https://user-images.githubusercontent.com/5878866/99965213-4c541580-2d73-11eb-8bab-89461931fae1.png)

What OS and VSCode version are you running it on?

[2020-11-23 17:33] Dassderdie commented on #40
It reproduces for me on my laptop too. Both machines run Windows 10 and the most recent vscode.

*vscode-angular-html* v1.7.0
*dark-plus-syntax* v0.0.167

Is there anything else I could log?

[2020-11-23 17:38] Dassderdie commented on #40
I found the problem: I have font ligatures enabled, therefore `*>` is one symbol which has only one color.

Sorry for the inconvenience...

[2020-11-23 17:38] #40 closed, assigned to nobody

[2020-11-23 17:40] ghaschel commented on #40
Oh, no problems. Feel free to open another one if necessary.

[2021-06-17 14:24] azephiris commented on #14
Still nothing?

[2021-07-08 21:15] ghaschel commented on #14
Is this still awaited? I thought the angular team was providing inline template support already with the angular-language-service plugin...

If you guys still expect this, I can definitely work on it

[2021-10-01 11:30] Jonas-Seiler-Wave opened #46 "Breaking interaction with "HTML CSS Support" by ecmel"
The extension by itself is great, but unfortunately it seems to break <a href="https://marketplace.visualstudio.com/items?itemName=ecmel.vscode-html-css">HTML CSS Support</a>, so it's not usable for me.
The issue is that once this extension is enabled, the automatic class name completion from the other extension ceases to work completely.
This is also the case outside of angular projects and even

[2021-10-01 17:55] urielzen opened #47 "ng-container not showing yellow"
I have a couple of issues, colors not showing as expected, without having to uninstall and test without every other extension I have installed in VSCode, is there any other way to find out what is overriding the colors?

for example <ng-container> is not showing yellow as shown in the documentation.
Thanks

[2021-10-01 17:59] urielzen commented on #47
Nevermind, found the issue, some extension changed my theme. It looked very similar so I didnt realize it was different

[2021-10-01 17:59] #47 closed, assigned to nobody

[2021-10-25 09:52] zeljkoantich commented on #14
They are.

The thing is that Angular Language Service inline template highlight has some conflicts with `vscode-angular-html` and it's fully operational only if `vscode-angular-html` is disabled.

[2022-05-03 16:23] AlexsaniKY opened #48 "Valid component names can break highlighting"
Syntax highlighting is broken when certain strings are used in the name. Using a custom angular component starting with 'style' causes all template highlighting to stop from that point onwards in the file.

Example: `<style-preview-component></style-preview-component>` would highlight the substrings 'style', '-preview-componen', 't' separately, and then break template highlighting for the rest of

[2022-05-03 16:28] AlexsaniKY commented on #48
It does not resume highlighting until it sees a 'style' closing tag, despite that being malformed html (closing a tag that was never opened)

[2022-05-03 17:23] ghaschel commented on #48
I'm on it!

[2022-05-03 17:57] #48 closed, assigned to ghaschel

[2022-05-03 18:30] ghaschel commented on #48
The update is live now https://marketplace.visualstudio.com/items?itemName=ghaschel.vscode-angular-html

[2022-05-03 18:57] AlexsaniKY commented on #48
Fantastic. I like this extension for my workflow, nice turnaround.

[2022-06-02 10:11] EinfachHans opened #49 "Unexpected colors"
See attached image:

![Bildschirmfoto 2022-06-02 um 12 08 25](https://user-images.githubusercontent.com/20899975/171607435-d721000a-fde0-4178-bd3a-8bc08bcf91da.png)

I would expect the `class`, `vertical`, and stuff to not be in the same color here. Also i would expect my variables like `isEnvironmentFabVisible`, `environmentLabel` and more to be not white (i know them in a purple from InteliJ).

[2022-07-04 21:54] theophile-wallez commented on #49
I have the same issue, could this be fixed?

[2022-07-05 14:32] ghaschel commented on #49
Sorry for the long delay.

I'll try to reproduce. Can you list you installed extensions and selected theme please?

[2022-07-07 00:03] theophile-wallez commented on #49
I've disabled all extensions except yours and One Dark Pro and still got this result:
<img width="551" alt="image" src="https://user-images.githubusercontent.com/66305625/177662299-f0f17180-796f-41a6-ae19-65afd72cd9db.png">

VSCode version: 1.68.1,
Angular CLI: 13.2.6
Node: 14.18.0

Btw, I have a correct syntax highlighting when using the vscode-angular-syntax extension on which this project is ba

[2022-08-04 15:51] BachiMjavanadze opened #50 "Color schemes for inline template"
Color schemes for inline templates doesn't works properly:

![image](https://user-images.githubusercontent.com/38082501/182891944-137adcaf-d830-4074-8f2f-80e0409330c9.png)

my settings.json:

`
"emmet.includeLanguages": {
        "javascript": "html",
        "typescript": "html"
    }
`

please fix it.

[2022-08-04 16:34] ghaschel commented on #50
This plugin doesn't support inline templates, as it is exclusively for template as HTML files. I am currently developing the inline template version. Please refer to this [plugin](https://github.com/ghaschel/vscode-angular-ts).

You should expect it to be released in the next week as a beta version.

[2022-08-04 16:34] #50 closed, assigned to ghaschel

[2022-08-05 20:21] ghaschel commented on #14
Better late than never I guess. But here it is: [Inline Template Support](https://marketplace.visualstudio.com/items?itemName=ghaschel.vscode-angular-inline)

[2022-08-05 20:22] ghaschel commented on #50
A bit earlier than I planned. But yeah, here it is: [Inline Template Support](https://marketplace.visualstudio.com/items?itemName=ghaschel.vscode-angular-inline)

[2022-08-05 20:23] ghaschel commented on #49
Sorry for the late answer. It has been a really busy period for me. But I'll take a look at this now

[2022-08-05 20:24] ghaschel commented on #46
I think I might have found a fix for this. Gonna try some things here.

[2022-08-05 20:34] urielzen commented on #14
Holy wacamole, thank you

[2022-08-06 07:42] BachiMjavanadze commented on #50
@ghaschel May I ask you to look at this extension? It's very good extention for all languages that are using Terminal:

[https://marketplace.visualstudio.com/items?itemName=easterapps.script-runner](https://marketplace.visualstudio.com/items?itemName=easterapps.script-runner)

The author doesn't responds. Maybe you will make fork of it, rename to `Terminal snippets` and implement my two Issues (Fe

[2022-08-08 08:43] distante opened #51 "Templates are broken after update"
Using v1.8.1 all my HTML files are now just white:

With the extension disabled:
![image](https://user-images.githubusercontent.com/5490201/183377267-02e71708-8fa4-4dec-9990-406273147fed.png)

With the extension enabled:
![image](https://user-images.githubusercontent.com/5490201/183377336-038ae29a-e10c-44d4-b0c9-1496a8cfd3ef.png)

going back to 1.8.0 fix the issue.

[2022-08-08 15:18] ghaschel commented on #51
On it.

Can you please list your installed/enabled extensions, please?

And also, the html file name, please (eg.: site-settings.component.html)

[2022-08-09 05:16] distante commented on #51
the filename was `signature-pad.component.html` (although it also happens on my app's `index.html`).

My list of extensions is somehow long:
[code]

[2022-08-09 09:22] ThorstenKunz commented on #51
Same issue here. 1.8.1 has no colors at all while 1.8.0 works fine.

[2022-08-09 16:23] ghaschel commented on #51
Sweet. Thanks for the extension list. With your extension list I was able to reproduce the error. On it right now

[2022-08-09 17:14] #51 closed, assigned to ghaschel

[2022-08-09 17:14] ghaschel commented on #51
I just pushed a fix for this issue. Can you confirm if it was fixed, please?

[2022-08-09 17:15] ghaschel commented on #46
I pushed some changes that might fix this. Can you please check if version 1.8.2 fixed this, please?

[2022-08-09 17:25] ghaschel commented on #51
Also, thanks for the list. Added a few good ones I didn't yet know of to my extensions list.

[2022-08-10 06:00] SamaraSsr commented on #51
It working fine now, thanks for the fix

[2022-08-10 06:45] distante commented on #51
It works now! Thanks!

Very Cool! 🙂

[2022-08-10 10:04] Jonas-Seiler-Wave commented on #46
Sorry, it still doesn't seem to work... Can you replicate the bug? Is there some info I can provide that would help with debugging?

[2022-08-10 15:08] ghaschel commented on #46
Well, if you could provide me a tiny repo in which this error is occurring, alongside with your list of installed extensions.

You can get this list on your terminal of choice by running `code --list-extensions`

[2022-08-11 08:55] Jonas-Seiler-Wave commented on #46
I've set up a minimal repo to showcase the issue:
https://github.com/Jonas-Seiler-Wave/vscode-angular-html-Bug-Reproduction

The behavior I am experiencing is that if I enable vscode-angular-html the CSS intellisense from HTML CSS Support ceases to work in .html files.

[2022-08-11 15:20] ghaschel commented on #46
Thank you. I'm looking into it right now

[2022-08-11 15:47] ghaschel commented on #46
Ok, with your repo I was able to reproduce it.
The extension actually works, if you manually trigger the "Trigger Event" command. I'm using it as `ctrl+space`. It only doesn't trigger it automatically on type.

![image](https://user-images.githubusercontent.com/5878866/184175188-9af047ea-8a68-40c6-8130-b6dc2589cdc3.png)

The same issue is happening to [vscode-html-scss](https://github.com/P-de-Jon

[2022-08-11 16:56] ghaschel commented on #46
Though this seems like it **might** [be an issue with these extensions](https://github.com/ecmel/vscode-html-css/issues/126), as it is working just fine using [Path Intelisense](https://marketplace.visualstudio.com/items?itemName=christian-kohler.path-intellisense)

![2022-08-11 12-54-52 (online-video-cutter com)](https://user-images.githubusercontent.com/5878866/184183950-adace8b0-aa4d-443a-bfa8-

[2022-08-11 18:09] ghaschel commented on #49
Hey. I was able to look into this issue.

The thing is, I developed this highlighting plugin to be very colorful and ADHD friendly as I was struggling at the time.
But the thing is, I developed it without much planning ahead or studying it properly.

You are actually getting the "correct" highlighting as I was using wrong scope names, based only on the color it showed at the time.

I am planning n

[2022-08-11 18:15] ghaschel commented on #30
This will be fixed in a future refactor. No ETA though

[2022-08-11 18:16] ghaschel commented on #28
I believe this will be achievable in a future refactor. No ETA though

[2022-08-11 19:03] #46 closed, assigned to ghaschel

[2022-08-11 19:03] ghaschel commented on #46
Fixed. Please confirm it is working on 1.8.4

[2022-08-12 08:23] Jonas-Seiler-Wave commented on #46
Yup, can confirm it works. Thanks!

[2022-08-26 19:23] urielzen opened #52 "Support for Visual Studio 2019 Dark theme"
When installing the `C#` extension, we get access to two additional themes. One of them being `Visual Studio 2019 Dark` theme.

![image](https://user-images.githubusercontent.com/7947179/186975567-7b3396b1-4fab-4f04-b002-4652b2c53094.png)

This theme has js/ts file colors very familiar to me as a Visual Studio user.

However it does not seem to play well with vscode-angular-html as some colors are

[2022-08-29 19:09] ghaschel commented on #52
Hey, thanks for reporting it!

Unfortunately this is working "correctly" as when I started this plugin I didn't really knew what I was doing. I made it in such a way it basically relies on vscode-syntax-plus to achieve this highlighting.

There is a complete rewrite of this package upcoming which would allow both semantic highlighting and color customizations If I'm able to do all I want.

But unf

[2022-09-08 19:23] ghaschel commented on #52
I'm having a ton of progress in this.

I was able to create a syntax highlighting that follows the correct HTML scope naming, also, adding a few extra scopes, in which one can add visual differentiation just like I was doing before, but allowing color customization.

I believe the highlight itself should be done by next week. But I'll try to add a settings page in which users can set their own col

[2022-09-08 19:27] urielzen commented on #52
We don't deserve people like you... I really appreciate it. Please make sure you rest enough and don't stress about this task.

[2022-09-13 22:26] ghaschel opened #53 "Angular-related attributes pattern matching refactor"
Complete rewrite of the Angular-related attributes Regex Patterns to match separately the following attributes in order to allow differentiation and customization:

- [x] Input Bindings (One Way Bindings)
    - [x] **[oneWay]=""**
    - [x] **[attr.syntax]=""**
    - [x] **[style.syntax.unit]=""**
    - [x] **[@animmationTrigger]=""**
    - [x] **[@animmationTrigger.done]=""**
- [x] Double Way Bin

[2022-09-13 22:30] ghaschel opened #54 "Angular Expressions and Template Expressions Refactor"
Rewrite and update the typescript base patterns for Angular Expressions and Template Expressions Pattern Matching:

- [x] Working as before
  - [x] Angular Expressions and Template expressions
      - [x] Supporting non-null assertion operator **(property!.value)**
      - [x] Supporting safe-navigation operator **(property?.value)**
      - [x] Supporting nullish coalescing operator **(condition

[2022-09-13 22:42] ghaschel opened #55 "HTML Pattern matching refactor"
## Basic HTML pattern matching refactor and improvement:

- [x] Rewrite to use proper scope naming
   - [x] Doctype
   - [x] Comment
   - [x] Generic HTML tags
   - [x] Angular/Angular Material tags
   - [x] DOM Events
   - [x] Generic HTML attributes
   - [x] Deprecated HTML Tags
   - [x] Tag-specific deprecated attributes
   - [x] area
   - [x] a
   - [x] body
   - [x] br
   - [x] caption
   - [

[2022-09-13 22:54] ghaschel opened #56 "Angular Material text-only attributes support"
Add support for attributes like mat-header-cell that are not used as one-way binding, but as a simple HTML attribute. To allow differentiation and customization

- [ ] List all currently used Angular Material attributes
- [ ] Implement

[2022-09-13 22:56] ghaschel opened #57 "SVG Support"
Add SVG support to allow better highlighting in attributes like transform="matrix(....)" and things alike so that it doesn't look like a plain string

- [x] List elements
   - [x] SVG 1.0
   - [x] SVG 1.1
   - [x] SVG 1.2
   - [x] SVG 2.0 Latest Draft
- [x] List attributes
   - [x] SVG 1.0
   - [x] SVG 1.1
   - [x] SVG 1.2
   - [x] SVG 2.0 Latest Draft
- [x] List deprecated attributes
   - [x] SVG

[2022-09-13 22:57] ghaschel opened #58 "XML Support"
Add XML support:

- [x] XML
- [x] DTD

[2022-09-13 23:02] ghaschel opened #59 "Settings Page"
Come up with a settings page so that anyone can enable/disable the token customizations that were previously mandatory and would only work in vscode-syntax-plus theme. Also, come up with a way to allow anyone to choose the desired colors.

- [x] Investigate VSCode's extensions API
- [x] Implement

[2022-09-13 23:12] ghaschel opened #60 "Documentation and Miscelaneous before releasing"
Document all the changes so that if eventually someone in the future wants to support this highlighting in a theme, it is easily doable.

- [x] Documentation
   - [x] DOM Events
   - [x] Deprecated tags
   - [x] Deprecated attributes
   - [x] Angular/Angular Material specific tags
   - [x] HTML entities
   - [x] Scope names used to allow user-customization for the extra-matched things
   - [x] Set

[2022-09-13 23:25] #54 closed, assigned to ghaschel

[2022-09-13 23:26] #53 closed, assigned to ghaschel

[2022-09-13 23:27] #55 closed, assigned to ghaschel

[2022-09-16 20:39] ghaschel commented on #56
Due complexity and maintainability matters, unless this is highly requested, this will not be implemented

[2022-09-16 20:39] #56 closed, assigned to ghaschel

[2022-09-16 20:42] #57 closed, assigned to ghaschel

[2022-09-16 20:42] #58 closed, assigned to ghaschel

[2022-09-16 22:01] ghaschel commented on #30
![image](https://user-images.githubusercontent.com/5878866/190808642-02d62938-b7ab-4647-9373-7adcde149b3d.png)

Just a quick preview of what is finally coming

[2022-09-16 22:01] ghaschel commented on #28
![image](https://user-images.githubusercontent.com/5878866/190808923-6a72ff01-b877-4630-8b71-a6a65060fd72.png)
 A quick preview of what is finally coming. This will be fixed in a near feature and the extra customizations will be optional

[2022-09-20 21:45] #59 closed, assigned to ghaschel

[2022-09-20 21:50] ghaschel opened #61 "Last Development Items"
- [x] Fix found general bugixes
- [x] Figure it out the update notification
- [x] Scope meta-naming
- [x] Fix last known bug (tricky though)
- [x] Tooling
    - [x] Standardize Linting
    - [x] Standardize Formatting
    - [x] Update Dependencies
    - [x] Localization
    - [x] Add grammar tests
    - [x] Grammar tests with token customization colors

[2022-10-14 18:56] #61 closed, assigned to ghaschel

[2022-10-14 18:56] #60 closed, assigned to ghaschel

[2022-10-14 19:27] ghaschel commented on #52
This was added in version 2.0.0

It should match the default HTML.derivative scope, or close to it, and you can then customize all the extra-matched scopes with the color you want.

Feel free to open another issue if you need to.
😄

[2022-10-14 19:27] #52 closed, assigned to ghaschel

[2022-10-14 19:29] ghaschel commented on #49
The refactor is complete. It should now match the default HTML.derivative scope or close to it, and you can now customize your extra-matched characters.

The update was published a few minutes ago. Feel free to open another issue if you need to

😄

[2022-10-14 19:29] #49 closed, assigned to ghaschel

[2022-10-14 19:29] ghaschel commented on #30
This was added on 2.0 and the update is now live.

Feel free to open another issue if you need to.

😄

[2022-10-14 19:29] #30 closed, assigned to ghaschel

[2022-10-14 19:30] ghaschel commented on #28
The refactor is complete. It should now match the default HTML.derivative scope or close to it, and you can now customize your extra-matched characters.

Please, refer to [THEMING](https://github.com/ghaschel/vscode-angular-html/blob/master/docs/THEMING.md) to check all the extra-matched characters.

The update was published a few minutes ago. Feel free to open another issue if you need to

😄

[2022-10-14 19:30] #28 closed, assigned to ghaschel

[2022-10-15 11:10] Daranix opened #63 "feat: Allow to customize color of custom tags (components)"
**Is your feature request related to a problem? Please describe.**
With the latest version of the extension, the custom html tags which are not from angular/angular material shows with color white

**Describe the solution you'd like**
I would like to be able to customize this tags with different a different color

**Additional context**

Here's a screenshot showing the current behaviour

![image](

[2022-10-15 18:30] NikolaKrstic94 commented on #63
For me almost all the predefined default colors are gone after the latest update. Can anyone help me revert it to how it was prior to yesterday's update? Not sure where to look.  Sorry for hijacking the thread.

[2022-10-15 18:51] niklasxulls commented on #63
I have the same problem, I just rolled back the version in order to make it work again: https://stackoverflow.com/questions/42626065/vs-code-how-to-rollback-extension-install-specific-extension-version

[2022-10-15 19:15] ghaschel commented on #63
@NikolaKrstic94 @niklasxulls That is because now, you can use a different theme and tweak the extra-matched characters to your liking
via extension settings. But if you want to have the same colors as before, please, open the command pallet and run the command `vscode-angular-html: Set Legacy Colors`
Let me know if that solves your issues.

@Daranix I'll take a look on that first thing on Monday.

[2022-10-15 20:03] niklasxulls commented on #63
I've already tried that, before rolling back - also reloading, dis/enabling, restarting vscode, etc. didn't help

[2022-10-15 20:25] NikolaKrstic94 commented on #63
@niklasxulls  It partially works, however, it completely overrides my Monokai++ theme which is not optimal at all. Also the colors themselves are not the same as they were on 1.8 as well, things like "class"' was green but now it's cyan.  I've reverted to version 1.8 for the time being.

Edit: With `vscode-angular-html: Set Legacy Colors` command on the latest 2.0.2 version:
![command  Set Legacy

[2022-10-16 14:16] Daranix commented on #63
I tried a few additional things the conclusion I get is seems like only shows as white color when the tag starts with a single caracter and `-` like on `p-calendar` or on `a-hello`

![image](https://user-images.githubusercontent.com/13921690/196040347-8a798d22-6cff-4981-bf95-457dcdc37a10.png)

[2022-10-17 07:20] sheamer opened #64 "components from primeng are not colored properly"
**Describe the bug**
-Before the latest update this works fine, components from primeng like <p-blockUI>, <p-panel>, <p-dropdown>, <p-calendar> used to be colored properly. but after the update all of those custom tag components are not colored (white text only) and everything in it is also not colored properly:

**List of installed/enabled extensions**
- vscode-angular-html
- Material Icon Theme

[2022-10-17 07:31] sheamer commented on #63
I'm having the same issue with @Daranix I also lost all the highlighting in my primeng tags. Primeng tags start with single characters

<p-table>
<p-dropdown>
<p-toast>

[2022-10-17 13:55] ghaschel commented on #64
On it.

[2022-10-17 14:10] ghaschel opened #65 "Set Legacy Colors not appling correct colors"
**Describe the bug**
- "Set Legacy Colors" command applying colors based on the dark-plus-syntax.
- This is both a bug and a enhancement.

**Expected behavior**
 - Should get the colors from the current theme

[2022-10-17 14:11] ghaschel commented on #63
@Daranix just to explain some things

When I first developed this extension I didn't know much how TextMate Grammars work. And I developed the extension to work properly with dark-syntax-plus theme. But turns out as I was randomly choosing scopes to apply to a specific match to turn make it the color I wanted, because I wanted it to as colorful as possible and wanted it to differentiate between as

[2022-10-17 15:11] ghaschel commented on #64
Along with the custom-elements bugfix, I intend to allow PrimeNG tags to be personalized just as with Angular Material... But for that, I need to track all of the PrimeNG elements, and I was able to get all of these from their docs:

Please, let me know if there is any component missing so that I can add to the list.

[code]

[2022-10-17 15:18] ghaschel commented on #63
Related to PrimeNG, [this](https://github.com/ghaschel/vscode-angular-html/issues/64#issuecomment-1281026635) is the list of components this bugfix will be covering.

Along with the fix for the scenario with `a-component` issue, these elements I listed in the issue, will be matched by default with the `custom-element` colors, with the `angular-material` color with `legacy colors` command, and may

[2022-10-18 13:10] Daranix commented on #63
It would be great, if the elements of primeNG act the same as those of angular material :smile:

[2022-10-18 14:40] ghaschel commented on #63
For those who are using dark-syntax-plus or even Dark+, this is working by using the legacy colors command.

@Daranix Can you please take a look at [this list](https://github.com/ghaschel/vscode-angular-html/issues/64#issuecomment-1281026635) and let me know if there's any missing primeNG elements that pop into your head?

[2022-10-18 15:37] ghaschel commented on #63
Regarding the colors being acquired by the theme, there is no easy and clean way to get the *inherited* color by the scope, only the full scope, and it is not really granted.

For example:

In 1.8.4, the html attribute scope was `support.type.object.html-attribute`, which was being inherited by `support.type` in some themes, and in `support.type.object` in others. And In some themes this scope was

[2022-10-18 16:01] ghaschel commented on #63
So far:

Per popularity:
- [C/C++ Themes](https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools-themes)
- [One Dark Pro](https://marketplace.visualstudio.com/items?itemName=zhuangtongfa.Material-theme)
- [Github Theme](https://marketplace.visualstudio.com/items?itemName=GitHub.github-vscode-theme)
- [Dracula Official](https://marketplace.visualstudio.com/items?itemName=dracula-the

[2022-10-18 16:17] ghaschel opened #66 "Performance Improvement"
Things to do to improve the performance as a whole:
- [x] Bundle the final code to drop node_modules dependency
- [x] Refactor the settings management to not depend on await and fall into eventual prettier formatting performance pitfalls

[2022-10-18 16:19] ghaschel opened #67 "Themes Support"
Themes support:

- [x] [C/C++ Themes](https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools-themes)
- [x] [One Dark Pro](https://marketplace.visualstudio.com/items?itemName=zhuangtongfa.Material-theme)
- [x] [Github Theme](https://marketplace.visualstudio.com/items?itemName=GitHub.github-vscode-theme)
- [x] [Dracula Official](https://marketplace.visualstudio.com/items?itemName=dra

[2022-10-18 17:37] Daranix commented on #64
@ghaschel

Some additional tags:

[code]

[2022-10-20 21:53] ghaschel commented on #64
Thanks for the tags. It will be on the next release.

[2022-10-24 09:15] raamwerk opened #68 "Dot separated event listeners not colored properly"
![image](https://user-images.githubusercontent.com/36499578/197491546-d70e32b7-12fc-4bb8-bc92-b244dca0cb32.png)

**Describe the bug**
 - When using a period in an event binding (eg `(keydown.enter)`), colors are not applied. I believe they used to before the recent big update.

**Expected behavior**
 - At least same colors when using single level event listeners, but possibly multiple level colors

[2022-10-24 14:40] ghaschel commented on #68
On it.

[2022-10-25 18:36] #67 closed, assigned to ghaschel

[2022-10-25 18:46] ghaschel commented on #68
This was fixed in v2.2.1.

Feel free to reopen or open a new issue if there's something wrong

[2022-10-25 18:46] #68 closed, assigned to ghaschel

[2022-10-25 18:47] ghaschel commented on #65
This was fixed and implemented in v2.2.1.

[2022-10-25 18:47] #65 closed, assigned to ghaschel

[2022-10-25 18:48] ghaschel commented on #64
This was implemented on 2.2.1.

Feel free to reopen this issue or open a new one if there's something wrong, or even to request support for new tags

[2022-10-25 18:48] #64 closed, assigned to ghaschel

[2022-10-25 18:50] ghaschel commented on #63
This was implemented on 2.2.1.

Feel free to reopen this issue or open a new one if there's something wrong, or even to request support for new tags or themes.

The themes were implemented in the following way:

I installed v 1.8.4, installed the themes, applied one by one and created a config file for that theme to be applied.

[2022-10-25 18:50] #63 closed, assigned to ghaschel

[2022-10-26 02:53] sheamer commented on #64
@ghaschel I'm a fan of your work. Thank you for this!

[2022-10-26 05:07] zeljkoantich opened #70 "Syntax highlighting not working on versions ^2.0.0 ( Linux )"
**Describe the bug**
 - After updating from VSCode v1.71.2 to v1.72.2 and plugin auto update to v2.0.0, the syntax highlighting stopped working.
 - Syntax highlighting doesn't work on any of this versions: v2.0.0, v2.0.2, v2.1.0, v2.2.1.

**List of installed/enabled extensions**
[code]
**OS (please provide the following information):**
 - OS and Version: Linux Mint 20 Cinnamon ~ Ubuntu Focal 20.04

[2022-10-26 16:40] ghaschel commented on #70
Please. run the "vscode-angular-html: Set legacy color customizations" command.

The extra-matched elements are no longer the default highlighting, but now, the extra-matched characters works in different themes. Please, check the readme for any refferences. I will update the readme, and add a F.A.Q. covering this, and update the github issues to add a theme support change/request.

Let me know if

[2022-10-26 16:43] ghaschel commented on #64
Thank you, I appreciate it. You just made my day.

[2022-10-27 07:38] zeljkoantich commented on #70
Running `vscode-angular-html: Set legacy color customizations` works.

Thanks @ghaschel.

[2022-10-27 16:52] #70 closed, assigned to ghaschel

[2022-10-27 16:53] ghaschel commented on #70
I'm glad. Feel free to create another issue if you find anything wrong.

Thank you :)

[2022-10-27 22:47] DanielCruz-fs opened #71 "For some reason this extension is not working anymore in my vscode."
This is my version of vscode:
![image](https://user-images.githubusercontent.com/29930991/198412010-418ac168-5087-4ed6-b26a-ea9f8c689514.png)
I tried everything to make it work...
![image](https://user-images.githubusercontent.com/29930991/198412087-87df481d-9ab1-4df1-b705-56123554c6e4.png)

[2022-10-28 17:32] ghaschel commented on #71
Did you try to run the "vscode-angular-html: Set legacy color customizations" command?

If that doesn't work, please, follow this issue bugfix template to provide me of more information about your workspace/configuration

---

Please provide the maximum amount of information in order for me to be able to fix it quicker.

Please, read the [F.A.Q.](../../docs/FAQ.md) before. Your bug might not be a

[2022-11-03 18:17] ghaschel commented on #71
Closing as I got no response from the OP

[2022-11-03 18:17] #71 closed, assigned to ghaschel

[2022-11-08 08:22] benjamin-achouche opened #72 "Template syntax highlighting no longer works since v2.0.0"
Hi,

I noticed that this morning, syntax highlighting in my project was gone. I can only assume it's because of the last update that was applied on 07/11/22.

![image](https://user-images.githubusercontent.com/80125093/200512093-fbe1b71a-6171-4a89-8839-536728046df8.png)

Can you help ?

Thanks !

EDIT: Apparently I was wrong, because when I rollback to previous versions up until 2.0.0, it still do

[2022-11-08 13:58] ghaschel commented on #72
Please. run the "vscode-angular-html: Set legacy color customizations" command.

The extra-matched elements are no longer the default highlighting, but now, not only, the extra-matched characters works properly in different themes, but you can also customize your extra-matched characters via extension settings. Please, check the readme and the F.A.Q. for any references.

Let me know if running the

[2022-11-10 10:40] ghost commented on #72
I had the same problem and it was showing me this
![Screenshot 2022-11-10 at 10 39 25](https://user-images.githubusercontent.com/89575566/201069527-f694fdd8-056a-4195-8c91-dfa63103082b.png)

 every time I changed a setting and not applying changes, but your command applies the changes.

While it works, I guess you should review this issue.

And thank s for your work. This really helps making code

[2022-11-10 19:57] ghaschel commented on #72
That's a bug, just confirmed myself.

Thank you for reporting it. I'll fix it soon.

[2022-11-11 20:01] #72 closed, assigned to ghaschel

[2022-11-11 20:24] ghaschel commented on #72
This was fixed in v2.2.2.

[2022-11-14 09:46] ghost commented on #72
Just tested it, works great. Thank you!

[2022-11-14 14:25] ghaschel opened #74 "Second and third level parameters for generic attributes not working"
Please provide the maximum amount of information in order for me to be able to fix it quicker.

Please, read the [F.A.Q.](../../docs/FAQ.md) before. Your bug might not be a bug.

**Have you read the F.A.Q.?**

- [ ] No
- [x] Yes, but my issue has nothing to do with anything in there, or it does but something is broken.

**Describe the bug**

- Generic attributes using the pattern `element.secondle

[2022-11-14 16:56] #74 closed, assigned to ghaschel

[2022-11-22 16:38] #66 closed, assigned to ghaschel